beautifulsoup4==4.11.1
dropbox==11.36.0
dulwich==0.20.50
jupyter==1.0.0
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.1
scikit-learn
scipy==1.9.3
Scrapy==2.7.1
seaborn==0.12.1
tqdm==4.64.1
uszipcode==1.0.1
cloudscraper==1.2.66
sqlitedict==2.0.0